.avatarImage{
    border-radius: 50%;
    width: 10vw;
    border: solid 0.25em dodgerblue;
}

.avatarImage:hover{
    border-width: 0.5em;
}

.avatarRow{
    margin-bottom: 3vh;
    text-decoration: underline;
}

#leadersSectionTitle{
    padding-bottom: 5%;
}

